[flake8]
extend-ignore =
    E302 # expected 2 blank lines, found 1
    E501 # line too long (81 > 79 characters)
    E741 # ambiguous variable name
    E305 # expected 2 blank lines after class or function definition, found 1
