---
layout: default
title: Meetings by Host
permalink: /meetings-hosts/
---

{% capture raw_hosts %}
  {%- for meeting in site.posts -%}
    {%- if meeting.layout == 'pr' -%}
      {%- if meeting.host == empty -%}
        {% include ERROR_92_MISSING_TOPIC_CATEGORY %}
      {%- endif -%}
      {{meeting.host}}|
    {%- endif -%}
  {%- endfor -%}
{% endcapture %}

{% assign hosts = raw_hosts | split: "|" | sort_natural | uniq %}

<div class="Home">
  <h2 class="Home-posts-title">Meetings</h2>
  <p>{% include linkers/meetings-pages.md %}</p>

  {% for host in hosts %}
    <div id="{{host}}">
      <h3 class="meetings-index-section">
        {{host}}
        <a href="https://github.com/{{host}}"><i class="fa fa-github"></i></a>
      </h3>
      <table style="padding-left: 1.5em">
        {% for post in site.posts %}
          {% capture components %}
            {%- for comp in post.components -%}
              <a href="/meetings-components/#{{comp}}">{{comp}}</a>{% unless forloop.last %}, {% endunless %}
            {%- endfor -%}
          {% endcapture %}
          {% if post.host == host %}
            <tr class="Home-posts-post">
              <td class="Home-posts-post-date">
                {{ post.date | date_to_string }}
              </td>
              <td class="Home-posts-post-arrow">
                &raquo;
              </td>
              <td>
                <a class="Home-posts-post-title" href="{{ post.url }}">{% if post.pr %}#{{ post.pr }} {% endif %}{{ post.title }}</a>
                ({{components}})
              </td>
            </tr>
          {%- endif -%}
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>
<br>
