---
layout: default
title: Previous Meetings by Component
permalink: /meetings-components/
---

{% capture raw_components %}
{%- for meeting in site.posts -%}
  {%- if meeting.layout == 'pr' -%}
    {%- if meeting.components == empty -%}
      {% include ERROR_92_MISSING_TOPIC_CATEGORY %}
    {%- endif -%}
    {%- for component in meeting.components -%}
      {{component}}|
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
{% endcapture %}
{% assign components = raw_components | split: "|" | sort_natural | uniq %}

<div class="Home">
  <h2 class="Home-posts-title">
    Previous meetings
  </h2>
  <p>
    {% include linkers/meetings-pages.md %}
  </p>

{% for component in components %}
  <div id="{{component}}">
    <h3>
      {{component}}
    </h3>
    <ul>
      {% for post in site.posts %}
      {% if post.components contains component %}
      <li>
        <div class="Home-posts-post">
          <a class="Home-posts-post-title" href="{{ post.url }}">{{ post.title }}</a>
          <span class="host">
            hosted by
            <a class="host" href="/meetings-hosts#{{post.host}}">{{ post.host }}</a>
          </span>
        </div>
      </li>
      {%- endif -%}
      {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
