---
---

//Typography
$body-font: 'Helvetica', sans-serif
$code-font: 'Source Code Pro', monospace

//Colour Palette
$sunc-yellow: #FEE04E
$light-blue: #55ACEE
$hungry-mind-blue: #268BD2

$primary-color: #000000
$secondary-color: #FEE04E

//Screen size for responsiveness
$small-screen: 320px
$mid-screen: 768px
$large-screen: 1024px

@import '1-tools/-tools-dir'
@import '2-base/-base-dir'
@import '3-sections/-sections-dir'

/* This is an example style sheet that comes default - just delete everything after this comment this to start from a blank slate */

a
  &:hover
    color: $secondary-color

.site-container
  max-width: 2250px
  margin: 0
  padding: 1rem 2rem 0 2rem

.logo
  text-decoration: none
  color: $primary-color
  font:
    size: 48px

.dt-published
  color: #828282
  font-size: 0.95em

.host
  color: #828282
  font-size: 0.95em

.author
  color: #828282
  font-size: 0.95em

\:target
  background: #ddd

.question
  font-size: 1.2em
  font-weight: bold

.meetings-index-section
  margin-top: 0.4em
  margin-bottom: 0.4em
  color: #606060

.Home-posts-post-date
  min-width: 94px
  vertical-align: text-top

.Home-posts-post-arrow
  padding-right: 4px
  vertical-align: text-top

.Home-posts-post-pr
  font-weight: bold

.padded
  padding: 1rem 1rem 0 0

.log-line
  margin-block-start: 0px
  margin-block-end: 0px
  font-family: monospace
  border-spacing: 0px

.log-row
  vertical-align: top

.log-lineno
  background-color: #f0f0f0
  \:target
    background-color: #ddd
  a
    color: grey
    text-decoration: none
    user-select: none

.log-time
  color: blue
  padding-left: 6px
  padding-right: 6px

.log-nick
  font-weight: bold
  color: green

.log-msg
  padding-left: 0px
  white-space: pre-wrap
