<!DOCTYPE html>
<html>

{% include head.html %}

<body>

  <input id="color-mode" type="checkbox" name="color-mode" onclick='save()'>
  <label id="color-mode-switch" for="color-mode">💡</label>

  <div class="site-container">
    <div class="page-content">
      {% include header.html %}
      {{ content }}
      {% include footer.html %}
    <div>
  <div>

</body>

<script>
  function save() {
    const dark = document.getElementById('color-mode').checked;
    window.localStorage.setItem('dark', String(dark));
  }

  const dark = window.localStorage.getItem('dark') === "true";
  document.getElementById('color-mode').checked = dark;
</script>

</html>
